.vender-prefixes {
	/* fx */

	
	/* d-f */
	

	/* ai-c */

}

.reflect-css-value {
	/* bxsh */
	-webkit-box-shadow: inset 5px 10px 10px 5px rgba( 0,0,0, 0.2 );
	box-shadow: 0 2px 5px rgba( 0,0,0, 0.2 );
	
	/* fx */
	-webkit-flex: 0 0 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-o-flex: 1 1 auto;
	flex: 1 1 auto;
}